<%# This is the banner outside of the container %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1661796428215-04fc2830aae6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1588&q=80.jgp);">
  <div class="container">
    <h1 id="title">F L E N T A L</h1>
    <p>Bringing together trusted hosts and hostees</p>
    <a class="btn btn-flat" <%= link_to "Become a host!", new_flat_path%>>
  </div>
</div>

<div class="container">
  <div class="cards">
    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat) do %>
    <div class="card-trip">

      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-trip-infos">
        <div>
          <h2><%= flat.name %></h2>
          <p><%= flat.street_address %></p>
          <p>Beautiful flat in <%= flat.name %></p>
        </div>
        <h2 class="card-trip-pricing">£100</h2>
      </div>

    </div>
    <% end %>
    <% end %>
  </div>
</div>
