<div class="container">
  <div class="host-form">
    <h1>Become a host...</h1>
    <%= simple_form_for @flat do |f| %>
    <div class="form-inputs">
      <%= f.input :name, placeholder: "e.g The Bachelor Pad" %>
      <%= f.input :street_address %>
      <%= f.input :description, placeholder: "Pink, fluffy and secluded" %>
      <%= f.input :capacity, collection: 1..10 %>
      <%= f.input :photo, as: :file %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Start hosting", class: "btn-flat" %>
    </div>
      <% end %>
  </div>
</div>
