
<h1> Flental </h1>
<h3> Renting Made Easy</h3>
<p> Creating a hosting </p>
<p> Flental rules for putting your flat on Flental </p>
<ul>
  <li> Lorem Ipsum is simply dummy text of the printing </li>

     <li> Lorem Ipsum is simply dummy text of the printing </li>

  <li> Lorem Ipsum is simply dummy text of the printing </li>
  <li> Lorem Ipsum is simply dummy text of the printing </li>
  <li> Lorem Ipsum is simply dummy text of the printing </li>
</ul>


<%= simple_form_for @flat do |f| %>
     Name
     <%= f.input_field :name %>
      <br> Street Address
      <%= f.input_field :street_address %>
      <br> City
      <%= f.input_field :city %>
    <br>
     <%= f.button :submit  %>
<% end %>
