<div class="container">
<h1><%= @flat.name %> </h1>
  <div>
    <%= link_to "back to index", root_path %>
  </div>
  <div>

  <%= simple_form_for @flat , method: :delete do |f| %>
    <%= f.button :submit, 'Delete' %>
  <% end %>

   <%# <%= link_to 'Delete', flat_path(@flat), method: :delete %>
  </div>
  <div>
     <%= link_to "Book Now", new_flat_booking_path(@flat) %>
  </div>

  <%= link_to "back to index", root_path %>

  <div>
  <%= cl_image_tag @flat.photo.key, height: 300, width: 400, crop: :fill %>


</div>
