<div class="container">



  <h1><%= @flat.name %></h1>



  <%= @flat.name %>
  <div>
    <%= link_to "back to index", root_path %>
  </div>
  <div>

  <%= simple_form_for @flat , method: :delete do |f| %>
    <%= f.button :submit, 'Delete' %>
  <% end %>

   <%# <%= link_to 'Delete', flat_path(@flat), method: :delete %>
  </div>
  <div>
    <a class="btn-flat" href="#">Book now</a>
  </div>

  <div>
  <%= link_to "back to index", root_path %>
  </div>

    <div>
  <%= link_to "edit booking", edit_flat_path %>
  </div>

  <div>
  <%= cl_image_tag @flat.photo.key, height: 300, width: 400, crop: :fill %>

</div>
