<%# THIS PAGE SHOWS THE SELECTED FLAT
YOU CAN EDIT DELETE BOOK OR GO BACK  %>

<div class="container">
  <h1><%= @flat.name %></h1>

    <div class="flex-box">
      <div class="row">
      <%= cl_image_tag @flat.photo.key, height: 300, width: 400, crop: :fill %>
      </div>

      <div class="row">
        <div class="col-3 btn-flat">
          <%= link_to "Book Now", new_flat_booking_path(@flat) %>
        </div>
        <div class="col-3 btn-flat">
          <%= link_to "back to index", root_path %>
        </div>
        <div class="col-3 btn-flat">
          <%= simple_form_for @flat, method: :delete do |f| %>
          <%= f.button :submit, 'Delete' %>
          <% end %>
        </div>
        <div class="col-3 btn-flat">
          <%= link_to "edit booking", edit_flat_path %>
        </div>
      </div>
    </div>
</div>
