<%# THIS PAGE SHOWS THE SELECTED FLAT
YOU CAN EDIT DELETE BOOK OR GO BACK  %>

<div class="container">
  <h1><%= @flat.name %></h1>

    <div class="flex-box">
      <div class="row image">
      <%= cl_image_tag @flat.photo.key, height: 500, width: 400, crop: :fill , class: "img"%>
      </div>

      <div class="row">

        <h3><%= @flat.description %></h3>
      </div>
      <div class="row">
        <div class="col-4 btn btn-flat">
          <%= link_to "Book Now", new_flat_booking_path(@flat)  %>
        </div>
        <div class="col-4 btn btn-light">
          <%= simple_form_for @flat, method: :delete do |f| %>
          <%= f.button :submit, 'Delete', class: "btn-light" %>
          <% end %>
        </div>
        <div class="col-4 btn btn-light">
          <%= link_to "Edit", edit_flat_path, class: "btn btn-light" %>
        </div>
      </div>
    </div>
</div>
