<h1>Booking for <%= @flat.name%> </h1>
    <%= simple_form_for [@flat, @booking] do |f| %>
  <%= f.input :startdate, as: :date %>
  <%= f.input :enddate, as: :date %>

<<<<<<< HEAD
  <%= f.submit "Confirm Booking", class: "btn btn-primary" %>
=======
  <%= f.submit "Book Now", class: "btn btn-primary" %>

>>>>>>> dc74ec1f1ddb68b558262045c3241360ba388075
  <% end %>
